$nav-height: 4.3rem;

.nav {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $nav-height;
  z-index: 2019;
  display: flex;
  justify-content: space-between;
  padding: 0 0.8rem;

  .left-items {
    display: flex;
    align-items: center;

    .logo {
      margin: 0;
      background: #222222;
      color: #eeeeee;
      padding: 0.4rem;
      display: flex;
      border-radius: 2px;
      align-items: center;

      .logo-icon {
        width: 2rem;
        height: 2rem;
        border-radius: 2px;
        margin-right: 0.4rem;
      }

      .logo-text {
        font-size: 1.5rem;
      }
    }

    .item {
      height: 100%;
      min-width: $nav-height;
      margin-left: 0.5rem;
      transition: all 0.25s linear;
      font-size: 1.2rem;
      text-align: center;
      line-height: $nav-height;
      font-weight: bold;
      padding: 0 0.5rem;

      &:hover {
        background: #eeeeee;
        box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
      }
    }
  }

  .right-items {
    .updated-time {
      font-size: 0.5rem;
      line-height: 4.3rem;
    }
  }
}
