html {
  font-size: 14px;
  background-color: #f4f5f5;
}

body {
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  margin: 4.3rem auto;
  height: calc(100vh - 4.3rem);
  overflow: auto;
  .posts {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
  }
}

* {
  box-sizing: border-box;
}

.shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
